# ===============================
# AAPS input logs (NEVER commit)
# ===============================
aapsLogs/
/aapsLogs
/aapsLogs/*.zip
*.zip

# ===============================
# Emulator generated output
# ===============================
*.csv
*.delta
*.log
*.txt
*.pdf
/*.csv
/*.delta
/*.log
/*.txt
/*.pdf

# ===============================
# Python
# ===============================
__pycache__/
*.pyc
.venv/

# ===============================
# OS / IDE
# ===============================
.DS_Store
.vscode/
